In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_colwidth',1000)

In [ ]:
from src.utils import get_city_lat_long

# Load the dataset
data_path = os.path.join(os.path.abspath(os.path.join(os.getcwd(), os.pardir)), "artifacts", "population.csv")
df = pd.read_csv(data_path)

# Remove all rows that don't have 'city' in the City column
df = df.loc[df['City'].str.contains('city', case=False), :]

# Remove the word 'city' and 'balance' from the City column
df['City'] = df['City'].str.replace(' city', '', case=False)
df['City'] = df['City'].str.replace(' (balance)', '', case=False)

# Add latitude and longitude columns to the dataframe
df['Latitude'] = None
df['Longitude'] = None

# Iterate over the rows to get latitude and longitude
for index, row in df.iterrows():
    city = row['City']
    state = row['State']
    lat, long = get_city_lat_long(city, state)
    df.at[index, 'Latitude'] = lat
    df.at[index, 'Longitude'] = long

df.head()

          City        State  Population   Latitude   Longitude
0     New York     New York     8258035  40.712775  -74.005973
1  Los Angeles   California     3820914  34.054908 -118.242643
2      Chicago     Illinois     2664452  41.878114  -87.629798
3      Houston        Texas     2314157  29.760077  -95.370111
4      Phoenix      Arizona     1650070  33.448377 -112.074037

In [ ]:
df['volume (ton)'] = (df['Population'] * 1.00) / 1000 # For small IT waste. Assuming ~1 kg per capita per year for small IT waste
df.head()

          City        State  Population   Latitude   Longitude  volume (ton)
0     New York     New York     8258035  40.712775  -74.005973      8258.035
1  Los Angeles   California     3820914  34.054908 -118.242643      3820.914
2      Chicago     Illinois     2664452  41.878114  -87.629798      2664.452
3      Houston        Texas     2314157  29.760077  -95.370111      2314.157
4      Phoenix      Arizona     1650070  33.448377 -112.074037      1650.070

In [ ]:
df.drop(["Population"], axis = 1, inplace=True)
df.head()

          City        State   Latitude   Longitude  volume (ton)
0     New York     New York  40.712775  -74.005973      8258.035
1  Los Angeles   California  34.054908 -118.242643      3820.914
2      Chicago     Illinois  41.878114  -87.629798      2664.452
3      Houston        Texas  29.760077  -95.370111      2314.157
4      Phoenix      Arizona  33.448377 -112.074037      1650.070

In [ ]:
code = ["W" + item for item in np.arange(1, df.shape[0]+1).astype(str)]
df['Code'] = code
df.head()

          City        State   Latitude   Longitude  volume (ton) Code
0     New York     New York  40.712775  -74.005973      8258.035   W1
1  Los Angeles   California  34.054908 -118.242643      3820.914   W2
2      Chicago     Illinois  41.878114  -87.629798      2664.452   W3
3      Houston        Texas  29.760077  -95.370111      2314.157   W4
4      Phoenix      Arizona  33.448377 -112.074037      1650.070   W5

In [ ]:
from src.utils import add_sheet_to_excelbook

data_path = os.path.join(os.path.abspath(os.path.join(os.getcwd(), os.pardir)), "artifacts", "input_data.xlsx")
waste_volume = df[['Code', 'volume (ton)']]
add_sheet_to_excelbook(data_path, "Waste Volume", waste_volume)

waste_source = df[['Code', 'City', 'State', 'Latitude', 'Longitude']]
add_sheet_to_excelbook(data_path, "Waste Source", waste_source)

In [15]:
data_path = os.path.join(os.path.abspath(os.path.join(os.getcwd(), os.pardir)), "artifacts", "input_data.xlsx")
waste_source_data = pd.read_excel(data_path, sheet_name='Waste Source')
shredder_data = pd.read_excel(data_path, sheet_name='E-waste Collector')
oxide_producer_data = pd.read_excel(data_path, sheet_name='Oxide Producer')
fluoride_producer_data = pd.read_excel(data_path, sheet_name='Flouride Producer')
metal_producer_data = pd.read_excel(data_path, sheet_name='Metal Producer')
magnet_producer_data = pd.read_excel(data_path, sheet_name='Magnet Producer')

# Create dictionaries for shredder and oxide producer coordinates
waste_source = {row['Code']: (row['Latitude'], row['Longitude']) for index, row in waste_source_data.iterrows()}
shredders = {row['Code']: (row['Latitude'], row['Longitude']) for index, row in shredder_data.iterrows()}
oxide_producers = {row['Code']: (row['Latitude'], row['Longitude']) for index, row in oxide_producer_data.iterrows()}
fluoride_producers = {row['Code']: (row['Latitude'], row['Longitude']) for index, row in fluoride_producer_data.iterrows()}
metal_producers = {row['Code']: (row['Latitude'], row['Longitude']) for index, row in metal_producer_data.iterrows()}
magnet_producers = {row['Code']: (row['Latitude'], row['Longitude']) for index, row in magnet_producer_data.iterrows()}

In [16]:
from src.utils import haversine
cost_per_mile_per_ton = 0.36

cost_data = []
for loc1 in waste_source:
    row = []
    lat1, lon1 = waste_source[loc1]
    
    for loc2 in shredders:
        lat2, lon2 = shredders[loc2]
        distance = haversine(lat1, lon1, lat2, lon2)
        row.append(distance * cost_per_mile_per_ton)
    
    cost_data.append(row)

Waste_to_shredder_tc = pd.DataFrame(cost_data, index=waste_source.keys(), columns=shredders.keys())
Waste_to_shredder_tc.index.name = 'index'
Waste_to_shredder_tc.reset_index(inplace=True, drop=False)

In [17]:
Waste_to_shredder_tc.head()

,index,S01,S02,S03,S04,S05,S06,S07,S08,S09,...,S649,S650,S651,S652,S653,S654,S655,S656,S657,S658
0,W1,230.710432,225.867550,235.560713,242.944894,312.440701,207.941734,502.274402,200.260080,1.281750,...,893.704062,885.380787,891.572827,860.636652,889.717976,898.072210,880.277662,891.753956,897.547467,882.084760
1,W2,651.299245,659.808774,646.678325,747.665595,572.195562,672.842294,435.039881,683.492862,880.712617,...,259.328463,287.977827,261.871034,254.530973,279.104652,301.910533,297.231397,265.087859,227.052088,297.988445
2,W3,59.633613,80.598591,59.667128,241.216543,92.016206,52.361805,295.316424,85.043896,256.316148,...,643.556818,637.796944,641.657360,610.507569,641.258985,651.531782,633.666938,642.089780,645.134179,635.513136
3,W4,312.664866,304.562898,308.042250,297.441243,247.272493,349.310927,86.476667,329.450572,509.949319,...,648.347047,659.594136,648.350878,621.179955,657.331432,676.823042,661.558323,650.395036,632.020216,663.300828
4,W5,539.862646,546.272356,535.042362,623.644749,458.673722,564.674077,307.839579,571.001416,770.552776,...,333.797577,356.097287,335.256623,317.190356,349.742825,372.650245,362.595124,338.137764,307.294925,363.880864

In [18]:
cost_data = []
for loc1 in shredders:
    row = []
    lat1, lon1 = shredders[loc1]
    
    for loc2 in oxide_producers:
        lat2, lon2 = oxide_producers[loc2]
        distance = haversine(lat1, lon1, lat2, lon2)
        row.append(distance * cost_per_mile_per_ton)
    
    cost_data.append(row)

shredder_to_oxide_tc = pd.DataFrame(cost_data, index=shredders.keys(), columns=oxide_producers.keys())
shredder_to_oxide_tc.index.name = 'index'
shredder_to_oxide_tc.reset_index(inplace=True, drop=False)

In [19]:
shredder_to_oxide_tc.head()

,index,OP01,OP02,OP03,OP04,OP05,OP06,OP07,OP08,OP09,...,OP56,OP57,OP58,OP59,OP60,OP61,OP62,OP63,OP64,OP65
0,S01,334.407348,488.348682,564.060175,485.621957,90.927425,183.035852,275.984457,270.420928,277.394211,...,374.883217,1.098491,17.322992,57.706791,531.452322,79.657983,696.861825,264.607448,159.607079,156.414433
1,S02,329.271919,501.179926,579.118630,498.013921,74.482482,183.409096,273.018561,267.698212,274.655395,...,375.247801,21.249216,17.778701,73.857514,548.587929,98.201676,708.259641,267.194946,142.142945,172.878489
2,S03,329.528755,484.346550,560.552164,481.538696,88.137240,177.980781,270.998559,265.426105,272.399187,...,369.826365,3.995813,13.493944,54.236763,528.557834,82.448202,692.624648,269.651482,162.253392,153.220321
3,S04,341.867587,619.530380,708.982162,613.881510,121.805879,258.872542,309.576508,306.807535,312.495259,...,422.145286,181.878228,172.800296,227.173964,690.522340,251.509475,813.836572,325.497049,86.897086,319.839663
4,S05,261.348719,417.930153,500.711482,414.022882,92.080114,103.153579,199.567647,193.667781,200.576604,...,293.797556,81.191842,70.811249,49.120494,477.815578,135.130902,622.594985,345.281700,221.330893,108.960581

In [ ]:
from src.utils import calculate_transportation_cost
import time

#waste_to_shredder_tc = calculate_transportation_cost(waste_source, shredders)
#time.sleep(5.5)
#shredder_to_oxide_tc = calculate_transportation_cost(shredders, oxide_producers)
#time.sleep(5.5)
oxide_to_fluoride_tc = calculate_transportation_cost(oxide_producers, fluoride_producers)
time.sleep(5.5)
fluoride_to_metal_tc = calculate_transportation_cost(fluoride_producers, metal_producers)
time.sleep(5.5)
metal_to_magnet_tc = calculate_transportation_cost(metal_producers, magnet_producers)
time.sleep(5.5)

In [ ]:
from src.utils import add_sheet_to_excelbook
add_sheet_to_excelbook(data_path, "Shredder-Oxide TC", shredder_to_oxide_tc)
add_sheet_to_excelbook(data_path, "Oxide-Fluoride TC", oxide_to_fluoride_tc)
add_sheet_to_excelbook(data_path, "Fluoride-Metal TC", fluoride_to_metal_tc)
add_sheet_to_excelbook(data_path, "Metal-Magnet TC", metal_to_magnet_tc)
add_sheet_to_excelbook(data_path, "Waste-Shredder TC", Waste_to_shredder_tc)